aside {

    .aside-wrapper {
        display: flex;
        flex-direction: column;
        width: 370px;
        margin-left: 20px;
    }
}

.aside__profile {
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;

    .profile__header {
        display: flex;
        align-items: center;
        padding: 15px 25px;
        background: #fafafa;
        border-bottom: 1px solid #E8E8E8;

        .profile__avatar {
            width: 40px;
            height: 40px;
            margin-right: 17px;
            background: url(../../img/avatar-nikita.jpeg) center center no-repeat;
            background-size: cover;
            border-radius: 50%;
        }

        .profile__name {
            @include title-text;
            margin-right: auto;
        }

        .profile__exit {
            width: 24px;
            height: 24px;
            background: url(../../img/btn-esc.svg) center center no-repeat;
            background-size: cover;
            border-radius: 50%;
        }

        .profile__exit:hover {
            width: 26px;
            height: 26px;
            box-shadow: 0px 0px 5px 2px #fa8c16;
        };

        .profile__exit:active {
            transform: rotateZ(360deg);
            transition: 0.2s;
        }

        ;
    }

    .profile__functional {

        .profile__navigation {
            position: relative;

            .btn__nav {
                width: 100%;
                padding: 16px 16px 16px 48px;
                @include post-text;
                background: #fff;
                text-align: start;
            }

            .btn__nav:hover {
                background: #FFFBE6;
            }

            .btn__nav:active {
                color: #FAAD14;
            }
                //MARKER DECORATION//
            .marker__answers {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 3px;
                height: 100%;
                background: #FAAD14;
                display: none;
            }
            .marker__comments {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 3px;
                height: 100%;
                background: #FAAD14;
                display: none;
            }
            .marker__estimations {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 3px;
                height: 100%;
                background: #FAAD14;
                display: none;
            }
            .marker__conserved {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 3px;
                height: 100%;
                background: #FAAD14;
                display: none;
            }
            .marker__subscriptions {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 3px;
                height: 100%;
                background: #FAAD14;
                display: none;
            }
            .marker__notes {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 3px;
                height: 100%;
                background: #FAAD14;
                display: none;
            }
            .marker__ban {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 3px;
                height: 100%;
                background: #FAAD14;
                display: none;
            }
        }

        .profile__navigation:hover {
            .marker__answers {
                display: block;
            }
            .marker__comments {
                display: block;
            }
            .marker__estimations {
                display: block;
            }
            .marker__conserved {
                display: block;
            }
            .marker__subscriptions {
                display: block;
            }
            .marker__notes {
                display: block;
            }
            .marker__ban {
                display: block;
            }
        }
    }
}



.aside__btn {
    position: relative;

    .aside__btn--push {
        width: 100%;
        margin: 20px 0;
        padding: 13px 16px 13px 36px;
        text-align: center;
        @include post-text;
        color: #fff;
        background: #faad14;
        border-radius: 4px;
    }

    .aside__btn--push::after {
        position: absolute;
    top: 34px;
    left: 27px;
    width: 18px;
    height: 20px;

        content: ' ';
        background: url(../../img/aside-fier.svg) center center no-repeat;
        background-size: cover; //допиши позиционирование от дива(контейнера), который создаш кнопке //
    }
}

.aside__comment {
    display: flex;
    flex-direction: column;
    border: 1px #e8e8e8 solid;

    .comment__day {
        @include title-text;
        padding: 23px 131px 23px 25px;
        background: #fafafa;
        border-bottom: 1px #e8e8e8 solid;
    }

    .comment__content {
        display: flex;
        flex-direction: column;
        padding: 20px 40px 30px 25px;

        .comment__title {
            @include post-text;
            font-weight: bold;
            color: #D48806;
        }

        .comment__text {
            margin-top: 10px;
            @include post-text;
        }
    }
}

.aside__ads {

    margin-top: 20px;
}

