header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background: #FA8C16;

    .header__wrapper {
        display: flex;
        align-items: center;
        width: 80%;
        padding: 21px 0;
    }
    .logo {
        width: 49px;
        height: 24px;
        background: url(../../img/logo.svg) center center no-repeat;
    }

    .navigation {
        display: flex;
        margin-left: 58px;
        margin-right: auto;

        .navigation__link {

            a{
                margin-right: 15px;
                font-size: calc(13px + 0.137vw);
                line-height: 22px;
                color: #fafafa;
                opacity: 0.9;
            }

            a:hover {
                box-shadow: 1px 2px 4px -1px black;
                border-radius: 10%;
            }

            a:active {
                background: black;
                color: #FA8C16;
                border-radius: 10%;
            }
        }
    }

    .input__menu {
        position: relative;
        .input__text {
            padding: 5px 30px 5px 12px;
            border-radius: 2px;
            border: 1px #d9d9d9 solid;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
        }

        .input__text::placeholder { 
            font-size: calc(13px + 0.137vw);
            opacity: 50%;
        }

        .input__btn {
            position: absolute;
            top: 6px;
            right: 7px;
            width: 16px;
            height: 16px;
            background: url(../../img/search.svg)
        }
    }

    .burger {
        margin-left: auto;
        display: none;
        .burger__top {
            width: 25px;
            height: 6px;
            background: black;
        }

        .burger__center {
            width: 25px;
            height: 6px;
            background: black;
            margin: 4px 0;
        }

        .burger__bottom {
            width: 25px;
            height: 6px;
            background: black;
        }
    }
}

