main {
    width: 100%;
    background: #f5f5f5;
}

.main__wrapper {
    display: flex;
    margin: 34px 240px 33px 0;
    background-color: #fff;
    padding-bottom: 95px;
}

.main__post {
    display: flex;
    flex-direction: column;
}

.post {
    border: 1px solid #E8E8E8;
    background: #fff;

    .post--container {
        display: flex;
        flex-direction: column;
        padding: 35px 36px 22px;

        .post--title {
            @include title-text;
        }
        
        .post--content {
            display: flex;
            flex-direction: column;
            .post--text {
                @include post-text;
                padding: 15px 0;
            }
        }

        .hashtag {
            display: flex;

            .hashtag__link {
                margin-right: 10px;

                a {
                    @include post-text;
                    color: #bfbfbf;
                }
            }
        }
    }

    .post--footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 36px;
        border-top: 1px solid #E8E8E8;
        background: rgba(229, 229, 229, 0.5);

        .footer--functional {
            display: flex;
            align-items: center;

            .functional__link {
                position: relative;
                display: flex;
                margin-right: 51px;

                .functional__img {
                    width: 24px;
                    height: 24px;
                }

            }
        }

        .footer__author {
            display: flex;
            margin: 13px 0;

            .author--menu {
                display: flex;
                flex-direction: column;
                .author--name {
                    @include post-text;
                    font-size: 12px;
                    text-align: end;
                    color: #8c8c8c;
                }

                .author--activity {
                    @include post-text;
                    font-size: 12px;
                    color: #bfbfbf;
                }
            }

            .author--icon {
                width: 34px;
                height: 34px;
                margin-left: 9px;
                background: url(../../img/avatar-comments.jpeg) center center no-repeat;
                background-size: cover;
            }

            .author--icon:hover {
                border-radius: 50%;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
}

.post__bottom {
    margin-top: 20px;
}
//seting functional img//
.functional__img--like {
    background: url(../../img/like.svg) center center no-repeat;
}

.functional__img--like:after {
    position: absolute;
    top: 3px;
    left: 25px;
    content: '12';
    @include post-text;
    color: #8c8c8c;
}

.functional__img--comment {
    background: url(../../img/comment.svg) center center no-repeat;
}

.functional__img--comment:after {
    position: absolute;
    top: 3px;
    left: 25px;
    content: '157';
    @include post-text;
    color: #8c8c8c;
}

.functional__img--save {
    background: url(../../img/save.svg) center center no-repeat;
}

.functional__img--send {
    background: url(../../img/send.svg) center center no-repeat;
}
//=======new post=======//
.new-post {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px;
    background: linear-gradient(90deg, #faf0cd, #fab397);
    .new-post__information {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        input {
            padding: 20px 0;
            @include title-text;
            border-radius: 4px;
        }

        input::placeholder {
            @include title-text;

        }

        textarea {
            margin-top: 20px;
            resize: none;
            @include title-text;
            font-weight: lighter;
        }

        textarea::placeholder {
            @include title-text;
            font-weight: lighter;
        }
    }

    .new-post__btns {
        .new-post__btn-send {
            margin: 20px 20px 20px 0;
            padding: 13px 16px;
            text-align: center;
            @include post-text;
            color: #fff;
            background: #faad14;
        }
        .new-post__video {
            margin-right: 10px;
            padding: 6px 8px ;
            text-align: center;
            @include post-text;
            color:#faad14;
            background: #fff;
            border-radius: 4px;
        }
        .new-post__photo {
            padding: 6px 8px;
            text-align: center;
            @include post-text;
            color:#faad14;
            background: #fff;
            border-radius: 4px;
        }
    }
}