@mixin title-text {
    font-family: sans-serif, 'Lato';
    font-weight: bold;
    font-size: calc(15px + 0.137vw);
    color: #262626;
}

@mixin post-text {
    font-family: sans-serif, 'Lato';
    font-weight: normal;
    font-size: calc(15px + 0.137vw);
    color: #262626;
}