* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-size: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fafafa;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  background: #FA8C16;
}

header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 21px 0;
}

header .logo {
  width: 49px;
  height: 24px;
  background: url(../../img/logo.svg) center center no-repeat;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 58px;
  margin-right: auto;
}

header .navigation .navigation__link a {
  margin-right: 15px;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #fafafa;
  opacity: 0.9;
}

header .input__menu {
  position: relative;
}

header .input__menu .input__text {
  padding: 5px 30px 5px 12px;
  border-radius: 2px;
  border: 1px #d9d9d9 solid;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

header .input__menu .input__text::-webkit-input-placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__text:-ms-input-placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__text::-ms-input-placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__text::placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__btn {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 16px;
  height: 16px;
  background: url(../../img/search.svg);
}

main {
  width: 100%;
  background: #f5f5f5;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 34px 240px 33px 0;
  background-color: #fff;
  padding-bottom: 95px;
}

.main__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post {
  border: 1px solid #E8E8E8;
  background: #fff;
}

.post .post--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 36px 22px;
}

.post .post--container .post--title {
  font-family: sans-serif, 'Lato';
  font-weight: bold;
  font-size: calc(15px + 0.137vw);
  color: #262626;
}

.post .post--container .post--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post .post--container .post--content .post--text {
  font-family: sans-serif, 'Lato';
  font-weight: normal;
  font-size: calc(15px + 0.137vw);
  color: #262626;
  padding: 15px 0;
}

.post .post--container .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .post--container .hashtag .hashtag__link {
  margin-right: 10px;
}

.post .post--container .hashtag .hashtag__link a {
  font-family: sans-serif, 'Lato';
  font-weight: normal;
  font-size: calc(15px + 0.137vw);
  color: #262626;
  color: #bfbfbf;
}

.post .post--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 36px;
  border-top: 1px solid #E8E8E8;
  background: rgba(229, 229, 229, 0.5);
}

.post .post--footer .footer--functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post--footer .footer--functional .functional__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 51px;
}

.post .post--footer .footer--functional .functional__link .functional__img {
  width: 24px;
  height: 24px;
}

.post .post--footer .footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 13px 0;
}

.post .post--footer .footer__author .author--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post .post--footer .footer__author .author--menu .author--name {
  font-family: sans-serif, 'Lato';
  font-weight: normal;
  font-size: calc(15px + 0.137vw);
  color: #262626;
  font-size: 12px;
  text-align: end;
  color: #8c8c8c;
}

.post .post--footer .footer__author .author--menu .author--activity {
  font-family: sans-serif, 'Lato';
  font-weight: normal;
  font-size: calc(15px + 0.137vw);
  color: #262626;
  font-size: 12px;
  color: #bfbfbf;
}

.post .post--footer .footer__author .author--icon {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  background: url(../../img/avatar-comments.jpeg) center center no-repeat;
  background-size: cover;
}

.post .post--footer .footer__author .author--icon:hover {
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.post__bottom {
  margin-top: 20px;
}

.functional__img--like {
  background: url(../../img/like.svg) center center no-repeat;
}

.functional__img--like:after {
  position: absolute;
  top: 3px;
  left: 25px;
  content: '12';
  font-family: sans-serif, 'Lato';
  font-weight: normal;
  font-size: calc(15px + 0.137vw);
  color: #262626;
  color: #8c8c8c;
}

.functional__img--comment {
  background: url(../../img/comment.svg) center center no-repeat;
}

.functional__img--comment:after {
  position: absolute;
  top: 3px;
  left: 25px;
  content: '157';
  font-family: sans-serif, 'Lato';
  font-weight: normal;
  font-size: calc(15px + 0.137vw);
  color: #262626;
  color: #8c8c8c;
}

.functional__img--save {
  background: url(../../img/save.svg) center center no-repeat;
}

.functional__img--send {
  background: url(../../img/send.svg) center center no-repeat;
}

body {
  background: url(../../img/background.jpg) center center no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */