* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-size: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fafafa;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  background: #FA8C16;
}

header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 21px 0;
}

header .logo {
  width: 49px;
  height: 24px;
  background: url(../../img/logo.svg) center center no-repeat;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 58px;
  margin-right: auto;
}

header .navigation .navigation__link a {
  margin-right: 15px;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #fafafa;
  opacity: 0.9;
}

header .input__menu {
  position: relative;
}

header .input__menu .input__text {
  padding: 5px 30px 5px 12px;
  border-radius: 2px;
  border: 1px #d9d9d9 solid;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

header .input__menu .input__text::-webkit-input-placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__text:-ms-input-placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__text::-ms-input-placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__text::placeholder {
  font-size: calc(13px + 0.137vw);
  opacity: 50%;
}

header .input__menu .input__btn {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 16px;
  height: 16px;
  background: url(../../img/search.svg);
}

header .burger {
  margin-left: auto;
  display: none;
}

header .burger .burger__top {
  width: 25px;
  height: 6px;
  background: black;
}

header .burger .burger__center {
  width: 25px;
  height: 6px;
  background: black;
  margin: 4px 0;
}

header .burger .burger__bottom {
  width: 25px;
  height: 6px;
  background: black;
}

main {
  width: 100%;
  background: #f5f5f5;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 34px 240px 33px 0;
  background-color: #fff;
  padding-bottom: 95px;
}

.main__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post {
  border: 1px solid #E8E8E8;
  background: #fff;
}

.post .post--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 36px 22px;
}

.post .post--container .post--title {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: calc(15px + 0.137vw);
  line-height: 24px;
  color: #262626;
}

.post .post--container .post--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post .post--container .post--content .post--text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  padding: 15px 0;
}

.post .post--container .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .post--container .hashtag .hashtag__link {
  margin-right: 10px;
}

.post .post--container .hashtag .hashtag__link a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  color: #bfbfbf;
}

.post .post--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 36px;
  border-top: 1px solid #E8E8E8;
  background: rgba(229, 229, 229, 0.5);
}

.post .post--footer .footer--functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post--footer .footer--functional .functional__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 51px;
}

.post .post--footer .footer--functional .functional__link .functional__img {
  width: 24px;
  height: 24px;
}

.post .post--footer .footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 13px 0;
}

.post .post--footer .footer__author .author--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post .post--footer .footer__author .author--menu .author--name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  font-size: 12px;
  text-align: end;
  color: #8c8c8c;
}

.post .post--footer .footer__author .author--menu .author--activity {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  font-size: 12px;
  color: #bfbfbf;
}

.post .post--footer .footer__author .author--icon {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  background: url(../../img/avatar-comments.jpeg) center center no-repeat;
  background-size: cover;
}

.post .post--footer .footer__author .author--icon:hover {
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.post__bottom {
  margin-top: 20px;
}

.functional__img--like {
  background: url(../../img/like.svg) center center no-repeat;
}

.functional__img--like:after {
  position: absolute;
  top: 3px;
  left: 25px;
  content: '12';
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  color: #8c8c8c;
}

.functional__img--comment {
  background: url(../../img/comment.svg) center center no-repeat;
}

.functional__img--comment:after {
  position: absolute;
  top: 3px;
  left: 25px;
  content: '157';
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  color: #8c8c8c;
}

.functional__img--save {
  background: url(../../img/save.svg) center center no-repeat;
}

.functional__img--send {
  background: url(../../img/send.svg) center center no-repeat;
}

aside .aside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  margin-left: 20px;
}

.aside__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #E8E8E8;
}

.aside__profile .profile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  background: #fafafa;
  border-bottom: 1px solid #E8E8E8;
}

.aside__profile .profile__header .profile__avatar {
  width: 40px;
  height: 40px;
  margin-right: 17px;
  background: url(../../img/avatar-nikita.jpeg) center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.aside__profile .profile__header .profile__name {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: calc(15px + 0.137vw);
  line-height: 24px;
  color: #262626;
  margin-right: auto;
}

.aside__profile .profile__header .profile__exit {
  width: 24px;
  height: 24px;
  background: url(../../img/btn-esc.svg) center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.aside__profile .profile__header .profile__exit:hover {
  width: 26px;
  height: 26px;
  -webkit-box-shadow: 0px 0px 5px 2px #fa8c16;
          box-shadow: 0px 0px 5px 2px #fa8c16;
}

.aside__profile .profile__header .profile__exit:active {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.aside__profile .profile__functional .profile__navigation {
  position: relative;
}

.aside__profile .profile__functional .profile__navigation .btn__nav {
  width: 100%;
  padding: 16px 16px 16px 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  background: #fff;
  text-align: start;
}

.aside__profile .profile__functional .profile__navigation .btn__nav:hover {
  background: #FFFBE6;
}

.aside__profile .profile__functional .profile__navigation .btn__nav:active {
  color: #FAAD14;
}

.aside__profile .profile__functional .profile__navigation .marker__answers {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 3px;
  height: 100%;
  background: #FAAD14;
  display: none;
}

.aside__profile .profile__functional .profile__navigation .marker__comments {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 3px;
  height: 100%;
  background: #FAAD14;
  display: none;
}

.aside__profile .profile__functional .profile__navigation .marker__estimations {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 3px;
  height: 100%;
  background: #FAAD14;
  display: none;
}

.aside__profile .profile__functional .profile__navigation .marker__conserved {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 3px;
  height: 100%;
  background: #FAAD14;
  display: none;
}

.aside__profile .profile__functional .profile__navigation .marker__subscriptions {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 3px;
  height: 100%;
  background: #FAAD14;
  display: none;
}

.aside__profile .profile__functional .profile__navigation .marker__notes {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 3px;
  height: 100%;
  background: #FAAD14;
  display: none;
}

.aside__profile .profile__functional .profile__navigation .marker__ban {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 3px;
  height: 100%;
  background: #FAAD14;
  display: none;
}

.aside__profile .profile__functional .profile__navigation:hover .marker__answers {
  display: block;
}

.aside__profile .profile__functional .profile__navigation:hover .marker__comments {
  display: block;
}

.aside__profile .profile__functional .profile__navigation:hover .marker__estimations {
  display: block;
}

.aside__profile .profile__functional .profile__navigation:hover .marker__conserved {
  display: block;
}

.aside__profile .profile__functional .profile__navigation:hover .marker__subscriptions {
  display: block;
}

.aside__profile .profile__functional .profile__navigation:hover .marker__notes {
  display: block;
}

.aside__profile .profile__functional .profile__navigation:hover .marker__ban {
  display: block;
}

.aside__btn {
  position: relative;
}

.aside__btn .aside__btn--push {
  width: 100%;
  margin: 20px 0;
  padding: 13px 16px 13px 36px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  color: #fff;
  background: #faad14;
  border-radius: 4px;
}

.aside__btn .aside__btn--push::after {
  position: absolute;
  top: 34px;
  left: 27px;
  width: 18px;
  height: 20px;
  content: ' ';
  background: url(../../img/aside-fier.svg) center center no-repeat;
  background-size: cover;
}

.aside__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #e8e8e8 solid;
}

.aside__comment .comment__day {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: calc(15px + 0.137vw);
  line-height: 24px;
  color: #262626;
  padding: 23px 131px 23px 25px;
  background: #fafafa;
  border-bottom: 1px #e8e8e8 solid;
}

.aside__comment .comment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px 30px 25px;
}

.aside__comment .comment__content .comment__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
  font-weight: bold;
  color: #D48806;
}

.aside__comment .comment__content .comment__text {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(13px + 0.137vw);
  line-height: 22px;
  color: #262626;
}

.aside__ads {
  margin-top: 20px;
}

body {
  background: url(../../img/background.jpg) center center no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: auto;
}

/*=======iPad pro========*/
@media (max-width: 1024px) {
  .main__wrapper {
    position: relative;
    margin: 35px 50px;
    padding-bottom: 2px;
  }
  aside {
    display: none;
    position: absolute;
    top: 0px;
    right: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px #FA8C16 solid;
    background: gainsboro;
  }
  .header__wrapper .burger {
    display: block;
  }
  .header__wrapper .burger:hover aside {
    display: block;
    background: black;
  }
}

@media (max-width: 720px) {
  .header .input__menu .input__text {
    padding: 5px 0px 5px 12px;
  }
  .header__wrapper .burger {
    margin-left: 20px;
  }
  header .header__wrapper {
    width: 95%;
  }
  aside {
    right: 0px;
  }
  aside .aside-wrapper {
    width: 300px;
  }
}

@media (max-width: 610px) {
  .main__wrapper {
    margin: 35px 3px;
  }
  .input__menu {
    display: none;
  }
  .post .post--container {
    padding: 35px 10px 22px;
  }
  .post .post--footer {
    padding: 0 20px;
  }
  .post .post--footer .footer__author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .post .post--footer .footer__author .author--menu .author--activity {
    font-size: 8px;
    line-height: 2px;
  }
}

@media (max-width: 414px) {
  header .navigation {
    margin-left: 16px;
  }
  .post .post--footer {
    padding: 0px;
  }
}

@media (max-width: 320px) {
  header .header__wrapper {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__wrapper {
    margin: 15px 0;
  }
  .post .post--footer .footer--functional .functional__link {
    margin-right: 40px;
  }
  .post .post--footer .footer--functional .functional__link .functional__img {
    width: 14px;
    background-size: contain;
  }
  header .navigation {
    margin: 0;
  }
  header .navigation .navigation__link a {
    margin-right: 12px;
  }
  .header__wrapper .burger {
    margin: 0;
  }
  .footer--functional:last-child {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */