@import'../scss/scss-component/seting';
@import'../scss/scss-component/variables';
@import'../scss/scss-component/header';
@import'../scss/scss-component/main';
@import'../scss/scss-component/aside';

body {
    background: url(../../img/background.jpg) center center no-repeat;
}
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}